@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Nunito:wght@200;300;400;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Nunito", sans-serif;
    --nav-font: "Inter", sans-serif;
    --background-color: #ffffff;
    --default-color: #3d4348;
    --heading-color: #3e5055;
    --accent-color: #388da8;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
    --new-background-color: #e1f5fe;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.post-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 20px;
}

.post {
    background-color: var(--surface-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

    .post:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    }

.post-header {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-name {
    font-weight: 600;
    font-family: var(--nav-font);

}

.post_list {
    margin-top: 110px;
}

.post-date {
    font-size: 0.9rem;
    color: var(--contrast-color);
    opacity: 0.8;
}

.post-body {
    padding: 15px;
}

.post-title {
    font-family: var(--heading-font);
    font-size: 1.4rem;
    color: var(--heading-color);
    margin-bottom: 10px;
}

.post-content {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--default-color);
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.8em; /* Display 3 lines of content */
    white-space: normal;
}

.post-actions {
    text-align: right;
    padding: 10px 15px;
    background-color: #f9f9f9;
}

    .post-actions .btn {
        font-size: 0.9rem;
        padding: 5px 10px;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .post-actions .btn-primary {
        background-color: var(--accent-color);
        color: var(--contrast-color);
    }

        .post-actions .btn-primary:hover {
            background-color: #316f85;
        }

    .post-actions .btn-danger {
        background-color: #d9534f;
    }

        .post-actions .btn-danger:hover {
            background-color: #c9302c;
        }

#no-results {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--default-color);
}

.create-post-btn {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--contrast-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .create-post-btn:hover {
        background-color: #316f85;
    }
