@{
    ViewData["Title"] = "Giới thiệu";
}
<link rel="stylesheet" href="~/css/about.css" />
<section id="about" class="about section">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <img src="~/img/about_2.jpg"
                         alt="Hình ảnh minh họa"
                         class="img-fluid img-overlap"
                         data-aos="zoom-out">
                </div>

                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="content-subtitle  opacity-50">Tại sao chọn chúng tôi?</h3>
                    <h2 class="content-title mb-4">
                        Hơn <strong>10 năm kinh nghiệm</strong> trong lĩnh vực phòng chống dịch bệnh thủy sản
                    </h2>
                    <p class="opacity-50">
                        Chúng tôi cam kết cung cấp thông tin chính xác và các giải pháp hiệu quả nhất để giúp người nuôi trồng thủy sản
                        bảo vệ đàn tôm của mình, giảm thiểu rủi ro và tối ưu hóa năng suất.
                    </p>

                    <div class="row my-5">
                        <div class="col-lg-12 d-flex align-items-start mb-4">
                            <i class="bi bi-shield-check me-4 display-6"></i>
                            <div>
                                <h4 class="m-0 h5">Chuyên gia đáng tin cậy</h4>
                                <p class="opacity-50">Đội ngũ chuyên gia với kiến thức sâu rộng về dịch bệnh tôm.</p>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex align-items-start mb-4">
                            <i class="bi bi-search me-4 display-6"></i>
                            <div>
                                <h4 class="m-0 h5">Tra cứu nhanh chóng</h4>
                                <p class="opacity-50">Công cụ tra cứu thông tin chi tiết về các loại bệnh và cách phòng chống.</p>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex align-items-start">
                            <i class="bi bi-bar-chart-line me-4 display-6"></i>
                            <div>
                                <h4 class="m-0 h5">Dự báo dịch bệnh</h4>
                                <p class="opacity-50">Sử dụng công nghệ để dự báo nguy cơ dịch bệnh dựa trên thời tiết và môi trường.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /About Section -->
