@{
    var newsDetails = ViewBag.NewsDetails as ShrimpDiseasePrevention.Models.News;
    var images = ViewBag.Images as IEnumerable<ShrimpDiseasePrevention.Models.Image>;
    var userFullName = ViewBag.UserFullName as string;
}
<link rel="stylesheet" href="/css/details.css" />
    <div class="container mt-5">
        <a href="#" class="back-button">
            <i class="bi bi-arrow-left"></i>
            <p class="">Trở về</p>
        </a>

        <h1 class="text-center">Tiêu đề bài báo</h1>

        <div class="d-flex justify-content-center align-items-center mb-3">
            <p class="mr-4">Tác giả: @userFullName</p>
            <p>Ngày tạo: @newsDetails.NewsCreateAt?.ToString("dd/MM/yyyy")</p>
        </div>

        @if (newsDetails.NewsShortDescription != null)
        {
            <p><strong>Tóm tắt:</strong> @newsDetails.NewsShortDescription</p>
        }
        <div class="image-description mb-5">
            @if (images != null && images.Any())
            {
                foreach (var image in images)
                {
                    <img src="@image.ImagePath" alt="Image" class="img-fluid rounded">
                }
            }
            else
            {
                <p hidden></p>
            }
        </div>
    </div>
