@{
    var newsList = ViewBag.News as List<ShrimpDiseasePrevention.Models.News>; // Casting ViewBag.News to the correct type
}

@if (newsList != null && newsList.Any())
{
    foreach (var news in newsList)
    {
        <div>
            <h2>@news.NewsTitle</h2>
            <p>@news.NewsShortDescription</p>
            <p>@news.NewsContent</p>
            <p>
                @if (news.User != null)
                {
                    @news.User.UserFullName
                }
                else
                {
                    <em>Author information unavailable</em>
                }
            </p>
        </div>
    }
}
else
{
    <p>No news available.</p>
}
